/* CSS Document */

* {
	font-family: 'Space Mono', monospace;
	padding: 0;
	margin: 0;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

img {
	max-width: 100%;
	height: auto;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

#hero {
	padding: 0;
	margin: 0;
}

.footer {
	text-align: center;
	padding-bottom: 10px;
}

.content {
	padding-left: 0px;
	padding-right: 0px;
}

section {
	padding-top: 20px;
	padding-bottom: 20px;
}

.composition {
	padding-top: 0px;
}

.navbar {
	margin-bottom: 0px;
}

.vertical-menu {
    width: 60px;
	position: fixed;
	z-index: 10;
	right: 0;
	text-align: center;
    font-family: 'Space Mono', monospace;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 20px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #006EA4;
    color: white;
}

@media (max-width: 900px) {
	.vertical-menu {
		display: none;
	}
	.col-md-2 {
		display: none;
	}
	* {
		text-align: center;
	}
}